.basket-product {
  display: flex;
  align-items: center;
  height: 3rem;
  border-top: 1px solid #fff;

  @media screen and(max-width: 414px) {
    border-top: 0;
  }

  font-size: 12px;
  font-weight: 100;

  &:last-of-type {
    border-bottom: 1px solid #fff;
  }

  &__name {
    // padding-left: 1rem;
    @media screen and(max-width: 414px) {
      font-size: 10px;
    }
  }

  &__quantity {
    padding-left: 1rem;
  }

  &__value {
    padding-left: 1rem;
  }

  &__remove {
    margin-left: auto;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    background-color: transparent;
    border: 0;

    &:hover {
      background-color: transparent;
      opacity: 0.9;
    }
  }
}
