.basket {
  position: relative;
  display: flex;
  align-items: center;
  width: 270px;
  height: 60px;
  padding: 1rem;
  background-color: #666;
  color: #fff;
  cursor: pointer;

  font-size: 12px;
  font-weight: 100;

  @media screen and(max-width: 414px) {
    width: 100px;
  }

  &__title {
    color: inherit;

    @media screen and(max-width: 414px) {
      font-size: 0;

      &:before {
        content: "\f07a";
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-family: "FontAwesome";
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__status {
    @media screen and(max-width: 414px) {
      font-size: 0;
    }
    &:after {
      content: "";
      position: relative;
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-left: 10px;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;

      transform: rotate(-45deg);
    }

    &--open {
      &:after {
        top: 5px;
        transform: rotate(135deg);
      }
    }
  }
  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;

    background-color: inherit;
    transition: max-height 350ms;

    @media screen and(max-width: 414px) {
      width: 265px;
      left: initial;
      right: 0;
    }

    &--show {
      max-height: 500px;
    }
  }

  &__footer {
    padding: 1rem 1rem 1rem 0;
    text-align: right;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
  }
}
