.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    background-color: #ddd;
  }

  &__content {
    padding: 2rem;
    font-family: Arial, sans-serif;
    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }
    p {
      font-size: 12px;
    }
  }

  &__footer {
    padding: 0 2rem 2rem 2rem;
    form {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
      border-top: 1px solid #ddd;
    }

    input {
      height: 45px;
      padding: 0 1rem;
      margin-left: auto;
      margin-right: 1rem;
    }

    button {
      width: 30%;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 1rem;
  }

  &__close {
    font-weight: bold;
    color: #000;
    background-color: transparent;
    cursor: pointer;
  }

  &__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    width: 420px;
    background-color: #fff;

    transform: translate(-50%, -50%);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    button {
      width: 40%;
    }
  }

  &--show {
    display: block;
  }
}

.modal-buy {
}

.modal-remove {
  p {
    padding: 0 2rem;
    text-align: center;
  }
}

.modal-message {
  text-align: center;
}
