.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  visibility: hidden;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.4);

  transition: opacity 1s ease, visibility 1s ease;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    background-color: #ddd;
  }

  &__content {
    padding: 2rem;
    font-family: Arial, sans-serif;
    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }
    p {
      font-size: 12px;
    }
  }

  &__footer {
    padding: 0 2rem 2rem 2rem;
    form {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
      border-top: 1px solid #ddd;
    }

    input {
      position: relative;
      height: 45px;
      padding: 0 1rem;
      margin-left: auto;
      margin-right: 1rem;

      @media screen and(max-width: 414px) {
        padding-right: 0;
      }
    }

    .error {
      visibility: hidden;
      position: absolute;
      bottom: -5px;
      width: 220px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 30px;
      font-size: 11px;
      background-color: #d69797;

      opacity: 0.7;

      &.visible {
        visibility: visible;
      }

      &::after {
        content: "";
        position: absolute;
        left: 90%;
        bottom: 60%;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-left: 5px solid #d69797;
        border-top: 5px solid #d69797;

        transform: rotate(45deg);

        @media screen and(max-width: 414px) {
          left: 5%;
        }
      }
    }

    button {
      width: 30%;
      @media screen and(max-width: 414px) {
        width: 40%;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 1rem;
  }

  &__close {
    font-weight: bold;
    color: #000;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
      background-color: transparent;
    }
  }

  &__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    width: 420px;
    background-color: #fff;

    transform: translate(-50%, -50%);

    @media screen and(max-width: 414px) {
      width: 95%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    button {
      width: 40%;
    }
  }

  &--show {
    visibility: visible;
    opacity: 1;
  }
}
