.shelf {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f9f9f9;

  @media screen and(max-width: 414px) {
    margin-top: 135px;
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0;

    @media screen and(max-width: 414px) {
      font-size: 1.3rem;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    padding: 0 1rem;
    margin: 2rem 0 0 0;
    list-style: none;

    @media screen and(max-width: 414px) {
      flex-basis: 100%;
    }
  }
}
